.form {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;

  &__button {
    &--delete {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}
