<form class="form-upd" [formGroup]="form">
  <mat-form-field class="form-upd__item">
    <input matInput placeholder="Код аэропорта" formControlName="airportCode">
  </mat-form-field>
  <mat-form-field class="form-upd__item">
    <input matInput placeholder="Наименование аэропорта" formControlName="airportName">
  </mat-form-field>
  <mat-form-field class="form-upd__item">
    <input matInput placeholder="Адрес аэропорта" formControlName="airportAddress">
  </mat-form-field>
  <mat-form-field class="form-upd__item">
    <mat-select formControlName="airportAirplanesIds" multiple placeholder="Прикрепить самолет">
      <mat-option *ngFor="let airplane of allAirplanes" [value]="airplane.id">{{ airplane.airplaneBrand }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-upd__item">
    <mat-select formControlName="airportPilotsIds" multiple placeholder="Прикрепить пилота">
      <mat-option *ngFor="let pilot of allPilots" [value]="pilot.id">{{ pilot.pilotFullName }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="formDisabled" (click)="updateAirport()">Обновить аэропорт</button>
  <button id="button-delete" mat-raised-button color="warn" (click)="deleteAirport()">Удалить аэропорт</button>
</form>
