<form class="form" [formGroup]="form">
  <mat-form-field class="form__item">
    <input matInput placeholder="Код аэрапорта" formControlName="airportCode">
  </mat-form-field>
  <mat-form-field class="form__item">
    <input matInput placeholder="Наименование аэрапорта" formControlName="airportName">
  </mat-form-field>
  <mat-form-field class="form__item">
    <input matInput placeholder="Адрес аэрапорта" formControlName="airportAddress">
  </mat-form-field>
  <mat-form-field class="form__item">
    <mat-select formControlName="airportAirplanesIds" multiple placeholder="Прикрепить самолет">
      <mat-option *ngFor="let airplane of allAirplanes" [value]="airplane.id">{{ airplane.airplaneBrand }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form__item">
    <mat-select formControlName="airportPilotsIds" multiple placeholder="Прикрепить пилота">
      <mat-option *ngFor="let pilot of allPilots" [value]="pilot.id">{{ pilot.pilotFullName }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="formDisabled" (click)="updateAirport()">Обновить аэрапорт</button>
  <button class="form__button--delete" mat-raised-button color="warn" (click)="deleteAirport()">Удалить аэрапорт</button>
</form>
